Summary append automation.json
{
  "name": "Summery append automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -64
      ],
      "id": "41542f06-69c6-41f4-b41b-ab87e0963d6a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_uDPG98FUjnzGa8qww5tBuhBHEEROA4S2_DqaxVdrqs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_uDPG98FUjnzGa8qww5tBuhBHEEROA4S2_DqaxVdrqs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        -64
      ],
      "id": "529fa4c0-05ef-4ff7-b594-851816fbd7a2",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MWw8iWcYbNP8dqGv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Hello, I want to summarize the info and also take the Name and number as make an email by adding @gmail.com at the end of that. ",
        "messages": {
          "messageValues": [
            {
              "message": "=Your task is to summerize the information. You will do it by taking information of name, mc and number. "
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=Now you have to create a summar and also email of the client. Do not compose an email we don't have to send email.\n\nName:  {{ $json.Name }}\nmc: {{ $json.mc }}\nnumber: {{ $json.number }}\n\nSummery Tamplate:\nThis person have there Name, number and mc added\n\nemail Template:\n\n{{ $json.Name }}{{ $json.number }}@gmail.com"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        16,
        -64
      ],
      "id": "24b79167-dfd5-47ec-bf24-560a8bf1de89",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -64,
        144
      ],
      "id": "15a29c61-0996-4996-9b18-2b8287e8fca5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2IsEb5MQ24gDMhiD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1_uDPG98FUjnzGa8qww5tBuhBHEEROA4S2_DqaxVdrqs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_uDPG98FUjnzGa8qww5tBuhBHEEROA4S2_DqaxVdrqs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Summary": "={{ $json.text }}",
            "Name": "={{ $('Get row(s) in sheet').item.json.Name }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mc",
              "displayName": "mc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        368,
        -64
      ],
      "id": "6d7e546b-bb08-4dc3-aaf7-8097dd3cc293",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MWw8iWcYbNP8dqGv",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "19c14788-0bfc-4358-b7f5-963bfe46a9d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb342144c5158b72c45d8fb40fdb687459e5812fa20a5d85f03de5df60d51bb4"
  },
  "id": "Qr5K7NEPM5uVVt2W",
  "tags": []
}